<div class="slider">
    <div class="slider-holder">
        <img [src]="imagePath" />
      </div>
    <button mat-icon-button 
            class="slider-button left" 
            [attr.disabled]="currentImagePlace == 0 ? 'disabled' : null" 
            (click)="onSliderButtonClick('left')">
        <mat-icon>arrow_left</mat-icon>
    </button>
    <button mat-icon-button 
            class="slider-button right" 
            [attr.disabled]="currentImagePlace >= img_path.length - 1 ? 'disabled' : null" 
            (click)="onSliderButtonClick('right')">
        <mat-icon>arrow_right</mat-icon>
    </button>
    {{"[attr.disabled]=" + (currentImagePlace >= img_path.length - 1 ? 'disabled' : null)}}<br>
    {{"[attr.disabled]=" + (currentImagePlace == 0 ? 'disabled' : null)}}
  {{currentImagePlace}}
</div>

<router-outlet></router-outlet>
